@import url(_reset.css);

@import url(components/form.css);
@import url(components/input.css);
@import url(components/icon.css);
@import url(components/button.css);

@import url(element/tag.css);




/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
